# List of files and directories to ignore when making distros
#
# Directory names should end in "/"
#
# All file and directory names are evaluated relative to top-level directory.
# In other words, if "RELEASE" is listed in this file but "sub/RELEASE" is
# not, then $top/RELEASE will be ignored, but $top/sub/RELEASE will _not_.
#
Rakefile
TODO
bin/pre-setup.rb
dev/
dist/
examples/switches/configs/switch-1.config
examples/switches/configs/switch-2.config
examples/web_hosting/TODO
examples/web_hosting/configs/
examples/web_hosting/secrets.netomata.neto
examples/web_hosting/users.netomata.neto_table
pkg/
skel/
